/* Priority = "*" then more specific as we go down the code >
/* Asterisk Wildcard selector "*" - to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*so that later setting the height or width to an
element, it will be applied to the entire element, including the border.*/
}

/*General Styles*/
body {
    min-height: 100vh;
    /* Allows to stretch if the content is large enough to cause scroll*/
    display: flex;
    flex-direction: column;
    /* Elements show underneath eachother*/
    /* General project styles */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    /*Styling the Logo*/
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;

}
/*Class to hide elements*/
.hidden-heading{
    display: none;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    /* Stops the text sticking to the sides*/
    position: fixed;
    /*So The Nav bar Scroll Along*/
    z-index: 99;
    /* Keeps the Nav Bar ontop of everything*/
    width: 100%;
    /**/
    box-shadow: 0 2px 2px #3a3a3a;
    /* 1st- Horizontol offeset -*/
    /* = Left, 2nd Vertical offset - = Shading Above */
    /* 3rd intensity and 4th color */
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    /*Any a tag that is descendant of header */
    text-decoration: none;
    color: inherit;


}



#menu {
    /* Styling the Nav Menu*/
    font-size: 110%;
    text-indent: 4px;
    list-style-type: none;
    /* Takes off Bullet points*/
}

#menu>li {
    /* List items within the menu i.d*/
    margin-bottom: 1em;
    /* Spaces elements verticaly*/
}

.active {
    /* Visual cue (Underline) on nav links-*/
    border-bottom: 1px solid #3a3a3a;

    /*width/style/color*/
}

/* Navbar Styles with dropdown toggle*/

nav {
    position: absolute;
    /* Positioned relative to the nearest positioned ancestor*/
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* default Hidden until user clicked on*/
    top: 100%;


}

/* Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    /*Hides the checkbox*/
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content*/
main {

    /* main element to take up any surplus space to push footer down.*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Hero picture*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;

}

#cover-text {
    /*Final rgba value sets the opacity to semi transparent*/
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;

}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* Reasons Section styling*/
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons>h2 {
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
}

#benefits p {
    padding: 0 20px;
}

#benefits-mental>div,
#benefits-physical>div {
    line-height: 20px;
    margin-bottom: 20px;

}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url("../images/reasons-image.webp") no-repeat top center / cover;
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;

}

#benefits-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gallery Page*/
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;

}

#times {
    background: url(../images/dublin-city.webp) no-repeat center / cover;
    flex-wrap: wrap;
    display: flex;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /*This will not wrap on screens of less than 400px wide
    each dive will expand to fill the available space on its row*/
    flex-basis: 200px; /* Gives the divs base width of 200*/
    flex-grow: 1; /* Expand to take up space*/
    /*Create border around meet up time divs over background img*/
    border: 2px solid white;
}

#times h3 {
    /* Overirde the heading color set in general styles*/
    color: #fafafa;
}

/*Media Query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /* Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push content down to accommodate larger header*/
        margin-top: 79px;
    }

    /*Hero Image*/
    #cover-text {
        width: 300px;
        right: 50px;

    }

    /* Reasons Section*/

    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical>div,
    #benefits-mental>div {
        width: 75%;
    }

    #benefits-mental>div {
        text-align: end;
        align-self: flex-end;
    }


}

/* Media query for hover tags - screen size of 992px and up*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;

    }

}

@media screen and (min-width: 1200px) {
    #benefits {
        display: flex;
        flex-direction: row;
        
    }

    #benefits > div {
        flex: 1;
    }
    
    #benefits-image{order: 0;}
    #benefits-mental{order: 1;}
    #benefits-mental > div {align-self: flex-start;}
    #benefits-physical > div {align-self: flex-end;}

}

